
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyIndex</title>
</head>
<body>
    <div> 
        @ViewBag.Greetings World (In View)
        <p> We are going to have an exciting party!!</p>
        @Html.ActionLink("RSVP link", "RsvpForm")
    </div>
</body>
</html>
